<form action="/movies/create" method="get">
<div>
<label for="">Title:</label>
<input type="text" name="title123">
</div>
<div>
    <label for="">Rating:</label>
    <input type="text" name="rating123">
    </div>
    <div>
        <label for="">Lenght:</label>
        <input type="text" name="lenght123">
        </div>
</form>