<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProGram</title>
    <link rel="icon"
        href="https://img.utdstc.com/icons/programming-hub-android.png:200"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/editPost.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>

    <%- include("headerLogueado") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">

                <!-- recibe el atributo METHOD y ponemos POST, ya que con este método queremos enviarle nuevos datos al servidor. -->
        <!--  En el ACTION le pongo que pagina me tiene que cargar una vez que se envie el formulario -->
        
                <form action="/detallePost/edit/<%=postAEditar.id%>" method="POST">
                    <h2>Edit your Post!</h2>
    

    <div class="uk-margin">
        <span class="uk-text-middle">Choose your photo/video to</span>
        <div uk-form-custom>
            <input type="file" >
            <span class="uk-link">upload here!</span>
        </div>
    </div>

    <div class="uk-margin" uk-margin>
        <div uk-form-custom="target: true">
            <input type="text">
            <input class="uk-input uk-form-width-medium" type="text" placeholder="Paste image link" name="url">
        </div>
 

            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Caption</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="form-stacked-text" type="text" placeholder="Fun times ahead..." name="texto_de_post">
                </div>
            </div>
        <button class="uk-button uk-button-default">Submit</button>
    </div>



                   

                </form>

            </div>
        </div>
    </main>
    

    <%- include("footer") %>
</body>

</html>