<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProGram</title>
    <link rel="icon"
        href="https://img.utdstc.com/icons/programming-hub-android.png:200"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/editPerfil.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>

    <%- include("headerLogueado") %>




        <!-- recibe el atributo METHOD y ponemos POST, ya que con este método queremos enviarle datos al servidor. -->
        <!--  En el ACTION le pongo que pagina me tiene que cargar una vez que se envie el formulario -->

        <!-- perfilAEditar.id traemos el id del perfil del usuario queremos editar, 
        usamos el metodo POST ya que hay informacion sensible en el formulario -->

    <form action="/miPerfil/editPerfil/<%=perfilAEditar.id%>" method="POST">
    

        <h2>Edite su informacion</h2>

        <!--  se genera segun el id del usuarioLogueado para saber que perfil editar -->
    <input type="hidden" name="id" value="<% usuarioLogueado.id %>">

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text" placeholder="Username" name="username" value="" required>
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="password" placeholder="Password" name="password" value="" required>
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="email" placeholder="Email" name="email" value="" required>
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="date" placeholder="dd/mm/yyyy" name="fechaNacimiento" value="" required>
            </div>
        </div>

        <div class="uk-margin" uk-margin>
            <label class="uk-form-label" for="form-stacked-text">Profile photo</label>
            <div uk-form-custom="target: true">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Paste new profile picture url"  name="fotoPerfil" required >
            </div>
    
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-select">Security Question</label>
                <div class="uk-form-controls">
                    <select class="uk-select" id="form-horizontal-select" name="preguntaSeguridad" required >
                        
                        <option value="1">Which country where you born in?</option>
                        <option value="2">Your first pet's name:</option>
                        <option value="3">Your father's middle name:</option>
                        <option value="4">Favorite food:</option>
                        <option value="5">Childhood bestfriend's name:</option>
                    </select>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon uk-form-icon-flip" ></span>
                    <input class="uk-input" type="text" placeholder="Answer..." name="respuestaSeguridad" required  >
                </div>
            </div>
            <div>
                <div class="uk-button-group">
            
                    <button class="uk-button uk-button-secondary" type="submit">Submit</button>
                    
                </div>
            </div>
        
    
    
    </form>
    

    <%- include("footer") %>
</body>

</html>