<!DOCTYPE html>
<html lang="en">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProGram</title>
    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>

    <%- include("headerLogueado") %>

    <main>
        <div class="uk-section uk-section-small bodynacho">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://wallpapercave.com/wp/wp5020881.jpg" alt="">
                            </div>
                            <h4>Leo Messi</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://www.mundodeportivo.com/r/GODO/MD/p5/Barca/Imagenes/2018/06/02/Recortada/img_jgascon_20180602-191906_imagenes_md_terceros_messi_and_kun-k77D-U444021019817R0H-980x554@MundoDeportivo-Web.JPG" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Leo Messi</h5>
                                <br>
                                <p class="uk-width-5-6">El KUNI</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Pipita Higuain</a>
                                    <p>Cracks!</p>
                                </li>
                                <li>
                                    <a href="">Kun Aguero</a>
                                    <p>Venite a Twitch, te estamos esperando!</p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://wallpapercave.com/wp/wp5020881.jpg" alt="">
                            </div>
                            <h4>Leo Messi</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/08/12/15656342525713.jpg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Leo Messi</h5>
                                <br>
                                <p class="uk-width-5-6">Extrañando la MSN</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Luisito Suarez</a>
                                    <p>Que linda época!</p>
                                </li>
                                <li>
                                    <a href="">Neymar Jr.</a>
                                    <p>Hermanos!</p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://wallpapercave.com/wp/wp5020881.jpg" alt="">
                            </div>
                            <h4>Leo Messi</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://www.mundodeportivo.com/r/GODO/MD/p4/Barca/Imagenes/2017/09/03/Recortada/img_lbaquero_20170903-083841_imagenes_md_otras_fuentes_leo-k96E-U431022132929FOF-980x554@MundoDeportivo-Web.JPG" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Leo Messi</h5>
                                <p class="uk-width-5-6">Fiesta en Rosario</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Nico Vazquez</a>
                                    <p>Que noche!</p>
                                </li>
                                <li>
                                    <a href="">Newells Old Boys</a>
                                    <p>Quedate en Rosario bestia</p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://wallpapercave.com/wp/wp5020881.jpg" alt="">
                            </div>
                            <h4>Leo Messi</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://estaticos.elperiodico.com/resources/jpg/5/1/zentauroepp49269352-dep190730170618-1564499368315.jpg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Leo Messi</h5>
                                <p class="uk-width-5-6">Merecidas Vacaciones</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Neymar Jr.</a>
                                    <p>No me llego la invitación</p>
                                </li>
                                <li>
                                    <a href="">Kun Aguero</a>
                                    <p>A mi tampoco...</p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://wallpapercave.com/wp/wp5020881.jpg" alt="">
                            </div>
                            <h4>Leo Messi</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://pbs.twimg.com/media/EiFgW2dXcAAr3Lh.jpg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Leo Messi</h5>
                                <p class="uk-width-5-6">Noche de fiesta</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Antonella Roccuzzo</a>
                                    <p>Gracias Xavi por cuidarmelo!</p>
                                </li>
                                <li>
                                    <a href="">Pocho Lavezzi</a>
                                    <p>Pasadito de copas, puede ser?</p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://wallpapercave.com/wp/wp5020881.jpg" alt="">
                            </div>
                            <h4>Leo Messi</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://e00-marca.uecdn.es/imagenes/2014/01/17/futbol/equipos/barcelona/1389916828_extras_noticia_foton_7_1.jpg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Leo Messi</h5>
                                <p class="uk-width-5-6">Con un crack</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Xavi Hernández</a>
                                    <p>Que grande que sos Leo!</p>
                                </li>
                                <li>
                                    <a href="">Andrés Iniesta</a>
                                    <p>Bestias!</p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://is-a-cunt.com/wp-content/uploads/2019/04/download-2-1.jpeg" alt="">
                            </div>
                            <h4>Pep Guardiola</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://media.elobservadordelsur.com/adjuntos/247/imagenes/000/167/0000167065.jpg" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Pep Guardiola</h5>
                                <p class="uk-width-5-6">Dentro de poco...</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Kun Aguero</a>
                                    <p>Se viene lo bueno!</p>
                                </li>
                                <li>
                                    <a href="">Kevin De Bruyne</a>
                                    <p>GOAT!</p>
                                </li>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
        
                </section>

            </div>
        </div>
    </main>


    <%- include("footer") %>

</body>

</html>