<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProGram</title>
    <link rel="icon"
        href="https://img.utdstc.com/icons/programming-hub-android.png:200"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/registracion.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>

    <%- include("headerDeslogueado") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="/registracion" method="POST">
                    
                    <h2>Sign up</h2>

            
                    <form>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" type="text" placeholder="Username..." name="username" required>
                            </div>
                        </div>
                    
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                <input class="uk-input password" type="password" placeholder="Password..." name="password" required>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                <input class="uk-input password" type="password" placeholder="Confirm Password..." name="confirmPassword" required >
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Email</label>
                            <div class="uk-form-controls">
                                <input class="uk-input email" id="form-stacked-text" type="email" placeholder="Email..." name="email" unique required>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-stacked-text">Nacimiento</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="form-stacked-text" type="date" placeholder="dd/mm/yyyy" name="fechaNacimiento" required>
                            </div>
                        </div>
                        <div class="uk-margin" uk-margin>
                            <label class="uk-form-label" for="form-stacked-text">Foto de Perfil</label>
                            <div uk-form-custom="target: true">
                            
                                <input class="uk-input uk-form-width-medium" type="text" placeholder="Paste profile picture url"  name="fotoPerfil" required>
                            </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-select">Security Question</label>
                            <div class="uk-form-controls">
                                <select class="uk-select" id="form-horizontal-select" name="preguntaSeguridad" required>
                                    
                                    <option value="1">Which country where you born in?</option>
                                    <option value="2">Your first pet's name:</option>
                                    <option value="3">Your father's middle name:</option>
                                    <option value="4">Favorite food:</option>
                                    <option value="5">Childhood bestfriend's name:</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" ></span>
                                <input class="uk-input" type="text" placeholder="Answer..." name="respuestaSeguridad" required >
                            </div>
                        </div>
                        <div>
                            <div class="uk-button-group">
                           
                                <button class="uk-button uk-button-secondary">Submit</button>
                                
                            </div>
                        </div>
                 
                    </form>
                    
            
                </form>
            </div>
        </div>
    </main>


    <%- include("footer") %>


</body>

</html>