*{
    box-sizing: border-box;
}
main{
    margin-bottom: 40px;
    margin-top: 40px;
}
header {
background-color: rgb(154, 2, 255);
}

body header h2 a {
   
  font-family: 'Do Hyeon', sans-serif !important;
    
}

header ul li a {
   
    font-family: "Lobster", cursive !important;
    
}

body main article ul li a {
    font-family: "Oswald", sans-serif;
}


body main article ul a {
    font-family: "Lobster", cursive;
}

